<h1>Show Employee</h1>

<img src="<%= @employee.photo %>" style="width: 100px"/>
<ul>

  <li>
    <strong>Name:</strong>
    <%= @employee.name %>
  </li>

  <li>
    <strong>Role:</strong>
    <%= @employee.role %>
  </li>



  <li>
    <strong>Location:</strong>
    <%= @employee.location %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.employee_path(@conn, :edit, @employee) %></span>
<span><%= link "Back", to: Routes.employee_path(@conn, :index) %></span>
