<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "our Employee Database" %></h1>
  <p>A database for managing all of our<br/>amazing employees.</p>
</section>

<section class="row">
  <article class="column">
    <a href="/employees"><h2>Employee Page</h2></a>
  </article>
</section>
